<h1>Your Cart</h1>

<% if @cart.items.empty? %>
  <p>Your cart is empty.</p>
<% else %>
  <ul>
    <% @cart.items.each do |item_code, quantity| %>
      <li>
        <%= @store_products[item_code][:name] %> (x<%= quantity %>)
        <%= button_to 'Remove', remove_item_path(product_code: item_code), method: :post, class: "remove-button" %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Checkout', checkout_path, class: 'btn btn-primary' %>
<% end %>
