<h1>Available Discounts</h1>

<ul>
  <li>Buy-one-get-one-free on Green Tea (GR1)</li>
  <li>Strawberries (SR1): 4.50€ each when you buy 3 or more</li>
  <li>Coffee (CF1): 2/3 price discount when you buy 3 or more</li>
</ul>

<%= link_to 'Back to Menu', root_path %>
