<h1>Welcome to Amenitiz Cash Register</h1>
<p>Please select an option:</p>

<ul>
  <li><%= link_to 'View Available Products', items_path %></li>
  <li><%= link_to 'View Discounts', discounts_path %></li>
  <li><%= link_to 'View Cart', cart_path %></li>
  <li><%= link_to 'Checkout', checkout_path %></li>
</ul>
